.nav-link.active {
    color: white !important;

    border-bottom: 3px solid #fabe00 !important;
        color: black !important;
    /* color: #495057; */
    /* background-color: #fff; */
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.card{
    border: none !important
}